<h1>Register an account</h1>
<form method="POST">
    {{#message}}
        <p>{{ message }}</p>
    {{/message}}

    <div class="field">
        <label for="username">Username</label>
        <input type="text" name="username">
    </div>
    <div class="field">
        <label for="username">Password</label>
        <input type="password" name="password">
    </div>
    <div class="field">
        <label for="name">Your name</label>
        <input type="text" name="name">
    </div>
    <button>Create</button>
</form>